@import './utils/variables';
@import './utils/reset';
@import './utils/hidden';

@import './components/container';
@import './components/section';
@import './components/follow';
@import './components/portfolio-bloks';
@import './components/modal';
@import './components/navigation';
@import './components/./button';

@import './layout/header';
@import './layout/hero';
@import './layout/benefits';
@import './layout/works';
@import './layout/team';
@import './layout/customers';
@import './layout/footer';
