.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--secondary-bg-color);
}

.footer__container {
  // display: flex;
  // align-items: baseline;

  display: block;
  width: 100%;
}

.footer__adress {
  // margin-right: 70px;
  display: block;
  margin: 0 auto;
}

.footer__adress--logo {
  display: flex;
  margin-bottom: 20px;
}

.footer__adress-list {
  // display: flex;
  // flex-direction: column;
  display: flex;
  flex-direction: column;
}

.footer__adress-item {
  display: flex;
  margin: 0 auto;
  &:not(:last-child) {
    margin-bottom: 9px;
  }
}

.footer__address-map-link {
  display: flex;
  font-style: normal;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;

  color: var(--title-color);

  &:hover,
  &:focus {
    outline: none;
  }
}

.footer__contacts-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;

  color: var(--second-text-color);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--animation-timing-function);

  &:hover,
  &:focus {
    color: var(--accent-bg-color);
  }
}

.no-italics {
  font-style: normal;
}
