.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--secondary-bg-color);
}

.footer__container {
  display: block;
  width: 100%;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
  }
}

.footer__adress {
  // margin-right: 70px;
  display: block;
  margin: 0 auto;

  @media screen and (min-width: 480px) {
    width: 100%;
  }

  @media screen and (min-width: 768px) {
    width: calc(100% / 2 - 30px);
    margin: 0;
    justify-content: space-between;
  }

  @media screen and (min-width: 1200px) {
    width: calc(100% / 4 - 30px);
    display: flex;
    flex-direction: column;
    justify-content: left;
  }
}

.footer__adress--logo {
  display: flex;
  margin-bottom: 20px;
  @media screen and (min-width: 1200px) {
    display: flex;
    margin: 0%;
  }
}

.footer__adress-list {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: column;
  }
  @media screen and (min-width: 1200px) {
    margin: 0;
    display: flex;
    text-align: start;
  }
}

.footer__adress-item {
  &:not(:last-child) {
    margin-bottom: 9px;
  }
}

.footer__address-map-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;

  color: var(--title-color);

  &:hover,
  &:focus {
    outline: none;
  }
}

.footer__contacts-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;

  color: var(--second-text-color);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--animation-timing-function);

  &:hover,
  &:focus {
    color: var(--accent-bg-color);
  }
}

.no-italics {
  font-style: normal;
}
