.button {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  align-items: center;
  text-align: center;
  font-family: inherit;
  border-radius: 4px;

  cursor: pointer;
  border: none;
}

.modal__button {
  color: var(--title-color);

  padding: 6px 22px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
  margin-bottom: 40px;
  display: flex;

  background: var(--button-color);
}

.button__hero {
  font-family: inherit;
  text-align: center;
  width: 200px;
  height: 50px;

  left: 700px;
  top: 430px;

  background-color: var(--button-color);
  color: var(--title-color);

  margin-top: 50px;
}

.button__footer {
  width: 200px;
  height: 50px;

  margin: 0 auto;
  margin-top: 20px;

  background-color: var(--button-color);
  color: var(--title-color);

  display: inline-flex;

  padding-left: 29px;

  position: relative;
}

.icon-send {
  position: absolute;

  width: 24px;
  height: 24px;
  margin-left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.button__list {
  display: flex;
  justify-content: center;
  margin: 0;
  margin-bottom: 50px;
}

.button__item:not(:first-child) {
  margin-left: 8px;
}

.button__portfolio {
  color: var(--main-text-color);
  padding: 6px 22px;
  background: var(--accent-bg-color);
  font-weight: 500;

  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--animation-timing-function);

  &:focus,
  &:hover {
    color: var(--title-color);
    background-color: var(--button-color);
    outline: none;
  }
}
